:host {
    ion-content {
        height: 100%;
        --overflow: hidden;
        /* Prevents scrolling */
    }

    .no-scroll {
        height: 100%;
        overflow: hidden;
    }

    .welcome-bg {
        // height: 162px !important;
        display: flex;
        margin-top: 75px;
        align-items: center;
        justify-content: end;
        flex-direction: column;
        gap: 15px;
        padding: 0 10px 0 10px;

        .title {
            font-size: 28px;
            font-weight: bolder;
        }

        .terms-text {
            font-size: 12px;
        }
    }

    swiper-container {
        width: 100%;
        // height: calc(100% - 200px);
        /* Adjust for header height */
    }

    swiper-slide {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        // height: 592px !important;
    }

    ion-img {
        height: 372px !important;
    }

    h1 {
        font-size: 35px;
        font-weight: bolder;
    }

    p {
        padding: 0px 10px 0px 10px;
    }

    .sliderButton {
        margin-top: 100px;
        width: 100%;
        padding: 0px 10px 0px 10px;
    }

    .step-indicator {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0;

        .item {
            width: 75px;
            height: 24px;
            border-radius: 50%;
            background: #e0e0e0;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0px;
            font-weight: bold;
            color: #888;
        }

        .active {
            background: #3b82f6;
            color: white;
        }

        .separator {
            width: 65px;
            height: 2px;
            background-color: #888;
        }
    }
}