<ion-header class="ion-no-border">
  <ion-toolbar class="pt-2 shadow-n bg-base">
    <ion-row>
      <ion-col size="2"><ion-icon size="large" class="text-color" (click)="back();"
          name="arrow-back"></ion-icon></ion-col>
      <ion-col size="8" class="text-center">
        <h4 style="margin: 0; margin-top: 5px;">Confirm Purchase</h4>
      </ion-col>
      <ion-col size="2">
        <div class="d-flex w-100">
          <ion-icon size="large" name="document-text-outline"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="key-value">
      <p class="key">Available</p>
      <p class="value">27610/1000000 Units</p>
    </div>
    <div class="key-value">
      <p class="key">Durartion</p>
      <p class="value">30 Days</p>
    </div>
    <div class="key-value">
      <p class="key">Daily Rewards:</p>
      <p class="value">0.5 PRM</p>
    </div>
    <div class="key-value">
      <p class="key">Price</p>
      <p class="value">1 USDT</p>
    </div>
    <div class="key-value">
      <p class="key">Power</p>
      <p class="value">1.6 GHz</p>
    </div>
    <div class="key-value">
      <p class="key">Balance</p>
      <p class="value">0.5 PRM</p>
    </div>
    <ion-button class="top-button" size="small" expand="block" color="secondary">Confirm Purchase</ion-button>
  </div>
</ion-content>