<ion-header class="ion-no-border">
  <ion-toolbar class="pt-2 shadow-n bg-base">
    <ion-row>
      <ion-col size="4"><span class="icon-title p-2 "><ion-icon class="text-color" size="large" (click)="back()"
            name="arrow-back"></ion-icon></span></ion-col>
      <ion-title class="text-color">Buy With Fiat</ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-card class="wallet-container">
      <ion-img class="payment-method-logo" src="../../assets/images/fiat-onramp.svg"></ion-img>
      <div class="wallet-amount-container">
        <h4>OnrampMoney</h4>
        <p class="large-amount">UPI, IMPS, FAST, SPEI, VietQR,Bank Transfer</p>
      </div>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-card>
  </div>
</ion-content>