<ion-header class="shadow-n bg-base">
  <ion-toolbar class="bg-base">
    <ion-row>
      <ion-col size="3"><span class="icon-title p-2"><ion-icon size="large" (click)="back()" class="text-color"
            name="arrow-back"></ion-icon></span></ion-col>
      <ion-title class="text-color">Forgot Password</ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-base">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-item lines="none" class="heading bg-base w-50 d-flex align-items-center justify-items-center">
    <img src="assets/logo.svg" alt="" />
  </ion-item>

  <form class="bg-form-light">

    <ion-item lines="none" class="bg-base">
      <div class="input-form">
        <ion-text>
          <h2 class="text-p pr-b-15">Forgot your password? No Problem. Just let us know your email address and we will
            email you a password reset link that will allow you to choose a new one.</h2>
        </ion-text>
        <ion-input label="Email Address" label-placement="floating" fill="outline" placeholder="Enter text" name="email"
          [(ngModel)]="userData.email" class="custom-input my-1"></ion-input>

      </div>
    </ion-item>

    <ion-button (click)="forgotcode(userData.email)" class="my-5 mx-5 text-capitalize button-black" expand="full">Send
      Email OTP</ion-button>
    <ion-modal [isOpen]="isModalOpen">
      <ng-template>
        <ion-header class="shadow-n bg-base">
          <ion-toolbar class="bg-base">
            <span class="icon-title p-2"><ion-icon class="text-color" (click)="setOpen(false)" size="large" name="arrow-back"></ion-icon>

            </span>
          </ion-toolbar>
        </ion-header>
        <ion-content class="bg-base">
          <h1 class="ms-5 fs-5 fw-500 text-large">Enter the 6-Digit Email Verification Code</h1>
          <ion-text>
            <h2 class="ms-5 text-p pr-b-15">to secure your account, we need to verify your <br> identity.</h2>
          </ion-text>
          <form class="bg-form-light">

            <ion-item lines="none" class="bg-base">
              <div class="input-form ">

                <ng-otp-input class="d-flex-c" (onInputChange)="onOtpChange($event)"
                  [config]="{ length: 6, placeholder: '_', inputClass: 'otp-input-box', allowNumbersOnly: true }"
                  (keyup)="checkOTP()"></ng-otp-input>


              </div>
            </ion-item>
            <div class="resend-pos">
              <ion-text><a class="text-medium-green txt-decoration" (click)="resend()">Resend</a></ion-text>
            </div>

            <ion-item *ngIf="showPasswordField" lines="none" class="w-100 bg-base" style="margin-top: 40px;">
              <div class="input-form flex-password-box">
                <ion-input label="New Password" label-placement="floating" fill="outline" placeholder="New Password"
                  class="custom-input my-1 w-80" [(ngModel)]="userData.password" name="password"
                  placeholder="Enter password"><ion-input-password-toggle style="color: beige!important;"
                    slot="end"></ion-input-password-toggle></ion-input>
              </div>
            </ion-item>

            <ion-item *ngIf="showPasswordField" lines="none" class="w-100 bg-base" style="margin-top: 10px;">
              <div class="input-form flex-password-box">
                <ion-button (click)="confirm()" class="my-5 mx-5 text-capitalize button-black" expand="full">Reset
                  Password</ion-button>
              </div>
            </ion-item>
          </form>
        </ion-content>
      </ng-template>
    </ion-modal>
  </form>
</ion-content>