.total-balance {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 25px 0px 10px 0px;

    .total-balance-text {
        font-size: 20px;
    }

    .total-balance-amount {
        font-size: 25px;
    }
}

.withdraw-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    padding: 5px 10px 5px 10px;
}

.action-buttons {
    margin-top: 15px;

    .h-40 {
        height: 40px;
    }
}

.msg-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: darkgray;

    p {
        margin: 0 !important;
        margin-top: 10px;
    }
}

.qrIconWithInput {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--bg-primary-color);

}

ion-item::part(native) {
    padding-left: 0px !important;
}

ion-input,
ion-textarea,
ion-select {
    --placeholder-color: var(--text-color);
    --placeholder-opacity: 1;
}