.d-flex-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.color-orange{
    color: #FFA423 !important;
}

.border-bottom-style{
    border-bottom: 1px solid #bbb7b7;
  }


  .info-bg{
    background: rgba(24, 183, 121, 0.13) !important;
  }