<ion-header class="shadow-n bg-base">
  <ion-toolbar class="bg-base">
    <ion-row>
      <ion-col size="4"><span class="icon-title p-2"><ion-icon size="large" (click)="back()" class="text-color"
            name="arrow-back"></ion-icon></span></ion-col>
      <ion-title class="text-color">Referral</ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="bg-base">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="top-section card-border">
    <img src="../../../assets/images/star.svg" class="">
    <p class="p-0 m-0 text-color">Refer friends and earn Crypto.</p>
  </div>
  <div class="qr-msg-div">
    <!-- <img class="qr-image" src="https://randomqr.com/assets/images/randomqr-256.png" alt=""> -->
    <qrcode cssClass="scann_img" [margin]="2" [qrdata]=referralID [width]="150" [errorCorrectionLevel]="'M'">
    </qrcode>
    <p class="qr-text">Invite your friends to join our crypto exchange platform and both of you will be rewarded with
      valuable cryptocurrencies.</p>
  </div>
  <div class="m-15">
    <ion-card class="bg-base card-border">
      <ion-card-content>
        <p>Referral ID</p>
        <div class="copy-box">
          <p class="text-large">{{referralID}}</p>
          <ion-icon size="large" name="copy-outline" (click)="copyString(referralID)"></ion-icon>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
  <div class="m-15">
    <ion-card class="bg-base card-border">
      <ion-card-content>
        <p>Referral Link</p>
        <div class="copy-box">
          <p class="text-large w-75">{{referralLink}}</p>
          <ion-icon size="large" name="copy-outline" (click)="copyString(referralLink)"></ion-icon>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>