<ion-header class="ion-no-border">
  <ion-toolbar class="pt-2 shadow-n bg-base text-color">
    <ion-row>
      <ion-col size="4"><span class="icon-title p-2 "><ion-icon class="text-color" size="large" (click)="back()"
            name="arrow-back"></ion-icon></span></ion-col>
      <ion-title class="text-color">Voting</ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-base">
  <div class="container">
    <ion-card *ngFor="let item of votingItems" class="bg-base text-color">
      <ion-card-content>
        <div class="voting-info-container w-100">
          <div class="key-value">
            <p class="key">Coin</p>
            <p class="value">{{item?.coinname}}</p>
          </div>
          <div class="key-value">
            <p class="key">Title</p>
            <p class="value">{{item?.title ?? '--'}}</p>
          </div>
          <div class="key-value">
            <p class="key">Voting</p>
            <p class="value">{{item?.type == '1' ? 'Upvote': 'Downvote'}}</p>
          </div>
          <div class="key-value">
            <p class="key">Time</p>
            <p class="value">{{convertTimestampToDate(item?.addtime)}}</p>
          </div>
        </div>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>