<ion-header class="ion-no-border">
  <ion-toolbar class="pt-2 shadow-n bg-base text-color">
    <ion-row>
      <ion-col size="4"><span class="icon-title p-2 "><ion-icon class="text-color" size="large" (click)="back()"
            name="arrow-back"></ion-icon></span></ion-col>
      <ion-title class="text-color">OTC History</ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-base">
  <div class="container text-color">
    <!-- TODO: Iterate over here -->
    <ion-card *ngFor="let item of listItems" class="w-100 m-0 mt-3 bg-base text-color">
      <ion-card-content>
        <div class="key-value-container w-100">
          <div class="key-value">
            <p class="key">Type</p>
            <p class="value">{{item?.type?.toUpperCase()}}</p>
          </div>
          <div class="key-value">
            <p class="key">Traded</p>
            <p class="value">{{formatNumber(item?.qty)}} {{item?.trade_coin?.toUpperCase()}}</p>
          </div>
          <div class="key-value">
            <p class="key">Price</p>
            <p class="value">{{formatNumber(item?.final_price)}} {{item?.base_coin?.toUpperCase()}}</p>
          </div>
          <div class="key-value">
            <p class="key">Total</p>
            <p class="value">{{formatNumber(item?.final_total)}} {{item?.base_coin?.toUpperCase()}}</p>
          </div>
          <div class="key-value">
            <p class="key">Fees </p>
            <p class="value">{{formatNumber(item?.fees_paid)}} {{item?.base_coin?.toUpperCase()}}</p>
          </div>
          <div class="key-value">
            <p class="key">Time</p>
            <p class="value">{{formatDate(item?.addtime)}}</p>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="!listItems || listItems.length === 0" class="bg-base text-color">
      <ion-card-content>
        <div class="d-flex align-items-center justify-content-center w-100">
          <p class="fs-6 text-secondary">No data found!</p>
        </div>
      </ion-card-content>
    </ion-card>
    <!-- <ion-card class="w-100 m-0 mt-3">
      <ion-card-content>
        <div class="key-value-container w-100">
          <div class="key-value">
            <p class="key">Type</p>
            <p class="value">AIA</p>
          </div>
          <div class="key-value">
            <p class="key">Traded</p>
            <p class="value">100 ETH</p>
          </div>
          <div class="key-value">
            <p class="key">Price</p>
            <p class="value">1000 USDT</p>
          </div>
          <div class="key-value">
            <p class="key">Total</p>
            <p class="value">1000 USDT</p>
          </div>
          <div class="key-value">
            <p class="key">Fees </p>
            <p class="value">0.5 USDT</p>
          </div>
          <div class="key-value">
            <p class="key">Time</p>
            <p class="value">2024-05-13 12:13:11</p>
          </div>
        </div>
      </ion-card-content>
    </ion-card> -->
  </div>
</ion-content>