.container {
    margin-top: 30px;

    .custom-ion-radio {
        margin-top: 10px;
        padding: 5px 20px 5px 20px;
        width: 100% !important;
        background-color: #D7D9E4;
        border-radius: 10px;
        font-size: 17px;
    }
}