ion-input {
    height: 65px !important;
}

.custom-divider {
    width: 100%;
    height: 2px;
    background-color: gainsboro;
    border-radius: 10px;
    margin: 5px 0 5px 0;
}

.sliderButton {
    margin-top: 100px;
    width: 100%;
    padding: 0px 10px 0px 10px;
}