.total-balance {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 25px 0px 10px 0px;

    .total-balance-text {
        font-size: 20px;
        color: var(--text-color)
    }

    .total-balance-amount {
        font-size: 25px;
        color: var(--text-color)
    }
}

.border-top {
    border-top: 1px solid lightgrey !important;
}

.deposit-details-box {
    margin: 10px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

    .deposit-details-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        width: 100%;
    }
}

.copy-box {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
    width: 100%;

    p {
        margin-top: 8px;
    }
}

.text-small {
    font-size: 10px;
}